
/*********************************************
    * ColorPattern:
    * Darker - #FE91C6
    * Lighter - #FEAFC7
    * Light - #FECEC7
    * White - #FFFFFF
**********************************************/

body{
    background-color: #fecec7
}

#filtersTag{
    text-decoration: none;
}

/*image manipulation in recepie container/section*/
.recipe-image{
    max-height: 2rem;
}
.recipe-image img {
    max-height: 20rem;
    width: 18%;
}