body{
    background-color: var(--pink-dark);
    position: absolute;
    left: 50%;
    right: 50%;
}

.img{
    width: fit-content;
    height: fit-content;
    margin: 20px;
}

.box1{
    background-color: var(--pink-bright);
    margin: 20px;
    /* width: fit-content;
    height: fit-content; */
    width: 380px;
}

.box1 p{
    background-color: var(--white);
    margin: 8px;
    /* width: fit-content;
    height: fit-content; */
    width: 390px;
}

.box2{
    
}