HTML {
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
    width: 100vw; min-width: 390px; height: 100vh;   
    padding-bottom: 30px;
    overflow-x: hidden;   
}

div {
    margin: auto;
}

h3 {
    text-align: center;
    vertical-align: center;
}

#Responsive {

}

.flex-container { 
    display: flex;
    flex-direction: row;
}

.flex-container img {
    margin: 10px;
}

.arrow{
    position:static;
    align-self: center;
    max-width: 10%;
}

.headimg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxParent{
    width: fit-content;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 4%;
}

.boxA /* Previously known as "box1" */{
    background-color: var(--pink-regular);
    width: fit-content;
    /* min-width: 350px; */
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 4%;
}

/* .minWidh350 {
    min-width: 300px;
} */

/* .boxB /* Replaced with "BoxA" in conjunction with "minWidht350 */ /*{

    
    /* background-color: var(--pink-regular);
    width: fit-content;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 4%;
} */

.innerbox /*used in coonjunction wtih BoxA*/{
    background-color: var(--white);
    margin: 8px;
    /* width: fit-content; */
    height: fit-content; 
    min-width: 320;
    /* width: 390px; */
    padding: 5px;
    /* border-radius: 4%; */
}

/* .BoxAminwidth350IMG {
    max-width: 75%;
    max-height: 75%;
    border-radius: 10%;
} */