body{
 
}

.container{
    display: flex;
    height: 35rem;
    width: 100%;
    align-items: center;
    justify-content: center; 
}

.logo {
    height: 50%;
    width: 65%;
    animation: pulse 1.39s infinite;
    margin: 0 auto;
    display: table;
    margin-top: 50px;
    animation-direction: alternate;
    animation-name: pulse;
  }

  @keyframes pulse {
    0% {
      transform: scale(0.3);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
    
  }

  @media only screen and (min-width: 650px){
    .logo{
        height: 50%;
        width: 40%;
    }
  }