main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body{
    background-color: var(--white);

    display: block;
    margin: 8px;
}

h2{
    justify-content: center;
    vertical-align: center;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 30px;
    
}

.flex-container-horizontal{
    display: flex;
    
    flex-wrap: wrap;
    justify-content: center;
}

.apply-clear button{
    margin: auto;
}

#main-div{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.flexRow{
    display: flex;
    flex-direction: row;
}

.flexColumn{
    display: flex;
    flex-direction: column;
}

input[type='checkbox']{
    visibility: hidden;
}

.NRCheckbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #FEAFC7 !important;
}

/* Checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.NRCheckbox:after {
    content: "";
    position: absolute;
    display: none;
}

/* Display checkmark when checked */
input:checked ~ .NRCheckbox:after {
    display: block;
}

/* Styling the checkmark using webkit */
/* Rotated the rectangle by 45 degree and 
showing only two border to make it look
like a tickmark */
.NRCheckbox:after {
    left: 8px;
    bottom: 5px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}