.flex-container { 
    display: flex;
    flex-direction: row;
}
.flex-wrap {
    flex-wrap: wrap;
}

.horizontal-flex-container-reverse{
}


/* .flex-container img {
    margin: 10px;
} */

.Center {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: 2%;
}

.CenterText {
    text-align: center;
    max-width: 50%;
    margin-left: 0%;
}

.RecDOne {
    text-align: center;
    
    margin-left: 0%;
}

.RecDTwo {
    object-fit: contain;
    padding-left: 5px;
    padding-right: 5px;
    background-size: contain;
    
}

.Three {
}

.Four {
    
}

