HTML {
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
    /*width: 100vw; min-width: 390px; height: 100vh;*/
    padding-bottom: 30px;
    overflow-x: hidden;
    align-content: center;
    padding-bottom: 10px;
}

div {
    margin: auto;
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    vertical-align: center;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

ul{
    margin-top: 5px;
    margin-bottom: 5px;
}

ol{
    margin-top: 5px;
    margin-bottom: 5px;
}

.RecDOne{
    margin: 0px;
    width: fit-content;
    height: fit-content;
    align-content: center;
}



/* .flex-container {
    display: flex;
    flex-direction: row;
} */



.arrowRight{
    width: 35px; 
    height: 35px; 
    fill: "currentColor"; 
    margin: auto;
    position:static; 
    align-self: center;
    max-width: 10%;
    cursor: pointer;
}

.arrowLeft{
    width: 35px; 
    height: 35px; 
    fill: "currentColor"; 
    margin: auto;
    position:static; 
    align-self: center;
    max-width: 10%;
    cursor: pointer;
}

.headImg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.headImg img{
    width: 100%;
}

.center {
    max-width: 600px;
    min-width: 300px;
}

.boxParent{
    width: fit-content;
    /*min-width: 70%;*/
    /* box-sizing: border-box; */
    /*padding: 10px;*/
    /* margin-left: 0px;
    margin-right: 0px; */
    /* padding: 10px; */
    margin: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    /* border-radius: 4%; */
    border-radius: 5px;
    
}

.boxA /* Previously known as "box1" */{
    background-color: var(--pink-regular);
    align-content: center;
    /*width: fit-content;*/
    box-sizing: border-box;
    /*min-width: 70%; */
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    /* border-radius: 4%; */
    border-radius: 5px;
    /* margin-left: 10px;
    margin-right: 10px; */
    
}

.boxB /* Previously known as "box1" */{
    background-color: var(--pink-regular);
    align-content: center;
    /*width: fit-content;*/
    box-sizing: border-box;
    /*min-width: 70%; */
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
    /* border-radius: 4%; */
    border-radius: 5px;
    /* margin-left: 10px;
    margin-right: 10px; */
    
}

@media only screen and (max-width: 600px) and (min-width: 300px){
    #recommendedDrinkBox{
        width: 80%;
    }
}

#recommendedDrinkBox{
    max-width: 480px;
}


/* .minWidh350 {
    min-width: 300px;
} */

/* .boxB /* Replaced with "BoxA" in conjunction with "minWidht350 */ /*{
    /* background-color: var(--pink-regular);
    width: fit-content;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 4%;
} */

.innerbox /*used in coonjunction wtih BoxA*/{
    background-color: var(--white);
    align-content: center;
    /* margin: auto; */
    /* margin-right: 8px; */
    /* margin-left: 10px; */
    width: fit-content;
    height: fit-content;
    
    /* width: 390px; */
    padding: 5px;
    border-radius: 4%;
}

.img-responsive {
    width: auto;
    height: fit-content;
}
.box-shadow{
    box-shadow : 0px 3px 5px gray;
}

/* .BoxAminwidth350IMG {
    max-width: 75%;
    max-height: 75%;
    border-radius: 10%;
} */

.RecDTwo img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    border-radius: 5px;
}