.contact{   

    @media only screen and (min-width: 1025px){
        .row1{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
          }

        .row1 .contactCard{
            margin: 0 100px;
        }
        
        .row2{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
          }

          .contactCard{
            display: flex;
            flex-direction: column;
            justify-content: center;
           
            background: linear-gradient(-45deg, #f94fa1, #fe8cc3, #fcacc4, #fcb7cc);
            background-size: 150% 150%;
            width: 225px;
            border-radius: 15px;
            box-shadow: 0px 3px 5px rgb(143, 142, 142);
            margin-top: 15px;
            margin-bottom: 15px;
            transition: 0.5s;
            }

            .contactCard:hover{
            scale: 1.06;
            z-index: 1;
            box-shadow: 0px 0px 10px 0px rgb(255, 25, 167);
            background: linear-gradient(-45deg, #ff49a1,#ffb7cc, #fd9cb6, #ff49a1);
            background-size: 300% 300%;
            animation: gradient 5s infinite;
            }
    }

    @media only screen and (max-width: 1024px){
        .contactCard{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 15px auto;
            background: linear-gradient(-45deg, #f94fa1, #fe8cc3, #fcacc4, #fcb7cc);
            background-size: 150% 150%;
            width: 225px;
            border-radius: 15px;
            box-shadow: 0px 3px 5px rgb(143, 142, 142);
            transition: 0.5s;
            }
            .contactCard:hover{
            scale: 1.06;
            z-index: 1;
            box-shadow: 0px 0px 10px 0px rgb(255, 25, 167);
            background: linear-gradient(-45deg, #ff49a1,#ffb7cc, #fd9cb6, #ff49a1);
            background-size: 300% 300%;
            animation: gradient 5s infinite;
            }
    }

    .headerPushback{
        margin-top: 80px;
    }

    

    

    .contactCard img{
        height: 270px;
        width: auto;
        margin: 15px 15px 8px 15px;
        border-radius: 10px;
        border: solid 3px #e9e9e9; 
    } 

    .contactTextBox{
        background-color: #ffffff;

        width: auto;
        height: auto;

        margin: 7px 15px 15px 15px;

        border: solid 2px #e9e9e9; 
        border-radius: 10px;
        
        text-align: center;
        }

    a{
        text-decoration: none;
        margin: 5px;
        
    }
    p{
        margin:5px;
    }

    .ContactUs{
        color: #FE91C6;

    }

    .Team{
        color: #FE91C6;
    }

    h1{
        text-align: center;
    }

    h2{
        text-align: center;
    }

    .hr1{
        width: 40%;
       
    }

    .hr2{
        width: 60%;
    }
}