.filterandbutton{

  body{
      background-color: var(--white);
      display: block;
      margin: 8px;
    }
    
    h2{
      justify-content: center;
      vertical-align: center;
      text-align: center;
      margin: auto;
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 170%;
    } 
    .onMobile{
      margin-top: 80px;
    }
    
    .flex-container-horizontal{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    #main-div{
      display:flex;
      justify-content: center;
      flex-direction: column;
    }
  }