/*
#FE91C6; - Light
#FEAFC7; - Lighter
#FECEC7; - Dark
#FFFF; - White
*/
.index {
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  /*
  @media screen and (width > 391px) {
        main {
          display: flex;
            justify-content: start;
            flex-direction: row wrap;
        }
        .card{
          max-width: 390px;
            max-height: 300px;
    }
    .recipe-drink-flex{
      background-color: violet;
    }
}
*/
  /*Ändra till 1025px - Få funka responsivt*/
  @media screen and (width > 1178px) {
    #filtersTag {
      display: flex;
      flex-direction: column;
      align-content: center;
    }
    #filterList {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: start;
      align-items: start;
      width: 85%;
      min-height: 100px;
    }
    #filterCard {
      width: 320px;
      height: fit-content;
      position: sticky;
      position: -webkit-sticky;
      top: 0px;
      bottom: 400px;
    }
    #CardSpace {
      width: 70%;
      position: static;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      left: 20%;
    }
    /*Ändra Sticky Space för Desktop*/
    #stickySpace{
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      bottom: 450px;
    }
  }
  .stickySpace{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  width: 300px;
  background-color: aquamarine;

  }
  .recipe-container a {
    text-decoration: none;
    color: #000;
  }
  .card-mapping{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .inner-mapped-card{
    display: flex;
    justify-content: center;
  }
  .recipe-container.card li {
    list-style-type: none;
  }
  /*Manages logo*/
  .logo {
    display: flex;
    justify-content: center;
  }
  .logo img {
    width: 50%;
  }
  /*Base card*/
  .card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #feafc7;
    width: 82%;
    border-radius: 15px;
    box-shadow: 0px 3px 5px gray;
    max-width: 390px;
    max-height: fit-content;
    margin: 10px;
  }
  .CardSpace {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  /*Filters*/

  .filter-flex {
    display: flex;
    justify-content: center;
  }
  .filter-list {
    display: flex;
    justify-content: center;
    width: 90%;
    min-height: 80px;
  }
  .filter-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffff;
    margin: 10px;
    border-radius: 10px;
    /* min-width: 230px; */
    width: 100%;
  }
  .filter-list li {
    margin: 0rem 0.7rem;
    font-size: 1rem;
  }
  .filter-tag {
    background-color: #ffff;
    font-size: 18px;
    text-decoration: none;
    margin-top: 10px;
    width: 40%;
    height: 1.5rem;
    padding: 5px 0px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 2px 3px 5px #c14983;
    color: #fe91c6;
  }

  /*Recipe And Drink Card*/
  #recipe-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
  }

  .select-card header {
    text-decoration: none;
    color: white;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .select-card p {
    margin-right: 15px;
  }
  .recipe-drink-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .recipe-drink-flex section {
    display: flex;
    align-content: center;
    flex-flow: column wrap;

    margin-top: 20px;
  }
  .recipe-image {
    display: flex;
    justify-content: center;
    margin: 0px 10px 10px 5px;
    width: 90%;
    height: 50%;
    border: 2px solid #ffff;
    border-radius: 5px;
    background-color: #ffff;
  }

  .recipe-image img {
    width: 100%;
    border-radius: 5px;
  }
  .inner-container {
    display: flex;
    flex-direction: row;
    margin-left: 6px;
  }
  .info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 15rem;
    margin: 0px 5px 3px 5px;
  }

  .description {
    background-color: #ffff;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 5px;
    min-width: 90%;
    height: 208px;
  }
  .specifics {
    display: flex;
    flex-flow: column wrap;
    margin: 5px;
    border-radius: 10px;
    background-color: #ffff;
    padding: 2px;
  }
  .specifics  p{
    margin: 2px 0px 0px 5px;
  }
}
