// <!--General-->
.recipe {
  * {
    box-sizing: border-box;
  }

  HTML {
    scroll-behavior: smooth;
  }

  .main {
    max-width: 700px;
    min-width: 300px;
    display: flex;
  }

  // .body div div main div div div div {
  //   justify-content: flex-start flex-end space-evenly;
  // }

  body {
    background-color: var(--white);

    padding-bottom: 30px;
    overflow-x: hidden;
    align-content: center;
    padding-bottom: 10px;
  }

  h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    vertical-align: center;
  }
  h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    vertical-align: center;
  }

  li {
    text-align: center;
  }

  p {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
  }

  ul {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  ol {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  // <!--Elements-->

  .arrowRight {
    width: fit-content;
    height: auto;

    fill: "currentColor";
    margin: auto;
    position: static;
    align-self: center;
    max-width: 7%;
    cursor: pointer;
  }

  .arrowLeft {
    width: fit-content;
    height: auto;
    fill: "currentColor";
    margin: auto;
    position: static;
    align-self: center;
    max-width: 7%;
    cursor: pointer;
    transform: rotateY(180deg);
  }

  .headImage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: 410px;
  }

  .headImage img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 400px;
    border-radius: 5px;
    margin: 10px;
  }

  .boxParent {
    width: fit-content;
    margin: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
  }
  .description {
    background-color: var(--pink-regular);
    align-content: center;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 80px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px gray;
  }

  .listCard {
    background-color: var(--pink-regular);
    align-content: center;
    box-sizing: border-box;
    padding: 10px;
    max-width: 520px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px gray;
  }

  .recipeBox {
    background-color: var(--pink-regular);
    align-content: center;
    box-sizing: border-box;

    margin: 0 auto;
    max-width: 520px;

    box-shadow: 0px 3px 5px gray;
    border-radius: 5px;
  }

  .drinkBox {
    background-color: var(--pink-regular);
    align-content: center;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 520px;
    margin: 10px 15px;
    box-shadow: 0px 3px 5px gray;
    border-radius: 5px;
  }

  @media only screen and (max-width: 600px) and (min-width: 300px) {
    .arrowLeft {
      width: fit-content;
    }
    .arrowRight {
      width: fit-content;
    }
  }

  .listCard-innerbox {
    background-color: var(--white);
    align-content: center;
    width: fit-content;
    height: fit-content;
    padding: 5px;

    border-radius: 4%;
  }

  .drinkImage img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 325px;
    border-radius: 5px;
  }

  .Center {
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: 2%;
  }

  .CenterText {
    text-align: center;
    max-width: 50%;
    margin-left: 0%;
  }

  .drinkDescription {
    padding-left: 5px;
    padding-right: 5px;
  }

  .drinkImage {
    object-fit: contain;
    padding-left: 5px;
    padding-right: 5px;
    background-size: contain;
  }

  .static-flex-column {
    // flex: auto;
    justify-content: start;
  }

  .dynamic-flex-column {
    // flex: auto;
    justify-content: center;
  }

  // .iAmNotInUseYet {
  // }

  .drinkGroup {
    flex-direction: row;
    justify-content: center;
  }

  .flex-rows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .placeholder {
    background-color: var(--pink-regular);
    align-content: center;
    box-sizing: border-box;
    padding: 10px;
    max-width: 520px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 10px;
    display: flex;
    border-radius: 5px;
    box-shadow: 0px 3px 5px gray;
  }

  @media only screen and (max-width: 1350px) {
    .headImage {
      object-fit: contain;
    }
  }
}
