
  .recipe {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;

    HTML {
      scroll-behavior: smooth;
    }

    h3 {
      margin: 10px;
      text-align: center;
      vertical-align: center;
      color: white;
    }
    
    h4 {
      margin-top: 5px;
      margin-bottom: 5px;
      text-align: center;
      vertical-align: center;
      color: white;
    }
  
    li {
      text-align: left;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  
    p {
      margin-top: 5px;
      margin-bottom: 5px;
      text-align: center;
    }
  
    strong{
      margin-top: 5px;
      margin-bottom: 5px;
      text-align: center;
    }

    img{
      border: solid 5px #ffff; 
    }
  /*Skriver över skit*/
  #card{
    background: linear-gradient(-45deg, #f94fa1, #fe8cc3, #fcacc4, #fcb7cc);
    background-size: 150% 150%;
    box-shadow: 0px 3px 5px rgb(143, 142, 142);
    border: 3px solid #fe91c6;
    border-radius: 15px;
    margin: 20px;
  }

  //Mobile
  @media only screen and (max-width: 1024px) {
    .headImage {
      display: flex;
      margin: auto;
    }

    .headImage img {
      width: 100%;
      border-radius: 5px;
      margin: 10px;
    }
  }
  //Desktop
  @media only screen and (min-width: 1025px) {
    .headImage {
      display: flex;
      width: 400px;
    }

    .horizontal-wrap{
      display: flex;
      flex-flow: row wrap;
    }

    .headImage img {
      display: flex;
      width: 380px;
      border-radius: 5px;
      margin: 8px;
    }

    .flex-rows {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .drinkBox {
    align-content: center;
    max-width: 400px;
  }

  .drinkImage img {
    display: flex;
    margin: auto;
    width: 370px;
  }

  .drinkDescription{
    padding: 15px;
  }

  .specifics {
    display: flex;
    flex-flow: column wrap;
    margin: 8px;
    border-radius: 5px;
    border: solid 2px #e9e9e9; 
    background-color: #ffffff;
    padding: 2px;
  }
  .specifics  p{
    margin: 2px 0px 0px 5px;
  }
}
