<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/HeaderFooter.css">
    <link href="CSS/search_bar.css"  rel="stylesheet" />
</head>
<header> 
    <div class="header">
        <a href="filter.html" class="menu-link"><img src="Images/menu-icon.png"></a>
        <a href="index.html" class="logo-link"><img src="Images/logo.png"></a>
        <a href="loading.html" class="login-link"><img src="Images/user-icon.png"></a>
    </div>   
    <div class="topnav">
        <div class="search-container" class="">
            <input type="text" placeholder="Search..">
            <img class="search-button" src="Images/Search_Button.png"><i class="fa fa-search"></i></button>
        </div>
    </div>
</header>


<footer class="footer">
    <t><a href="">Contact</a></t>
    <t><a href="">About</a></t>
</footer>